* {
    font-family: 'Maven Pro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 212, 221, 1);
    height: 100%;
    width: 100%;
}

header {
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 6vh 0 5vh 0;
    font-size: 5vh;
    color: rgb(67, 71, 77);
}

div {
    justify-content: center;
    align-items: center;
}

div.plate > div {
    height: 15vh;
    width: 15vh;
    margin: 1vh;
    background: transparent url(cupcakes/plate.png) no-repeat;
    background-size: contain;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plate {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.textarea{
    max-width: 800px;
    background-color:#eee;
    overflow:hidden;
    height:400px;
    max-height:400px;
    border:1px solid #ccc;
    overflow-y: auto;
    margin: 4vh auto 1vh auto;
    padding: 2vh;
    font-size: 3.15vh;
    box-shadow: -2px 2px 1px rgba(82, 88, 96, 1),
                 2px 2px 1px rgba(82, 88, 96, 1),
                 2px -2px 1px rgba(82, 88, 96, 1),
                -2px -2px 1px rgba(82, 88, 96, 1);
  }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 3vh;
    padding: 1vh;
    font-size: 2.5vh;
    border: 1px solid rgba(135, 48, 189, 0.8);
    color: rgba(135, 48, 189, 0.8);
    font-weight: bold;
  }

  button:hover {
    font-size: 3vh;
    color: rgba(89, 11, 138, 0.8);
    border: 1.5px solid rgba(89, 11, 138, 0.8);
    transition: .2s ease-in-out;
  }

  .hidden {
    display: none;
    transition: .1s ease-in-out;
  }
  
  div.hidden {
    transition: .1s ease-in-out;
  }

  dialog {
    z-index: 10;
    margin-top: 10px;
    background: green;
    border: none;
    border-radius: 1rem;
  }

  dialog::backdrop {
    background-color: rgba(82, 88, 96, 1);
  }

  img {
    display: flex;
    height: 12vh;
    width: 12vh;
    margin: 1.5vh;
    background: transparent;
    background-size: contain;
  }

  div#secretCode > div {
    height: 15vh;
    width: 15vh;
    margin: 1vh;
    background: transparent url(cupcakes/plate-gray.png) no-repeat;
    background-size: contain;
  }

  .rulesBtn {
    position: absolute;
    right: 10px
  }

  .green {
    height: 15vh;
    width: 15vh;
    margin: 1vh;
    background: transparent url(cupcakes/plate-green.png) no-repeat;
    background-size: contain;
  }

  .yellow {
    height: 15vh;
    width: 15vh;
    margin: 1vh;
    background: transparent url(cupcakes/plate-green.png) no-repeat;
    background-size: contain;
  }

  .red {
    height: 15vh;
    width: 15vh;
    margin: 1vh;
    background: transparent url(cupcakes/plate-green.png) no-repeat;
    background-size: contain;
  }

  #guessBtns {
    display: flex;
    justify-content: center;
    gap: 3.5vh;
    height: 10vh;
  }

